<div>
    <h2>Group Form</h2>
    <form [formGroup]="choiceForm" (ngSubmit)="onSubmit()">


        <div formGroupName="choice">
            <h2>Choose Reason</h2>

            <label for="street">Street: </label>
            <input id="street" type="checkbox" formControlName="religious">

            <label for="street-number">Street: </label>
            <input id="street-number" type="checkbox" formControlName="moralistic">

            <label for="city">City: </label>
            <input id="city" type="checkbox" formControlName="philosophical">


        </div>
    </form>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!choiceForm" (click)="onSubmit()">Submit</button>
    <p>Form Status: {{ choiceForm.status }}</p>
</div>